.densityPlot {
    .basePath {
        stroke: none;
        fill: hsla(0, 0%, 0%, 0.2);
    }
    .subPlotLayer {
        .subPlot {
            stroke: none;
            fill-opacity: 0.15;
        }
        .subPlotLine {
            opacity: 1;
            fill: none;
            stroke-width: 1.5px;
        }
    }
    .quantileLine {
        stroke: $bodyBackground;
        stroke-weight: 1px;
        stroke-dasharray: 1,1;
        fill: none;
        shape-rendering: crispEdges;
        opacity: 0.5;
        
        &.median {
            stroke-dasharray: none;
        }
    }
    .marker {
        stroke: none;
        fill: hsl(0, 0%, 60%);
    }
    .diffBar {
        stroke: none;
        shape-rendering: crispEdges;
    }
}