$bodyBackground: hsl(0, 0%, 92%);
$thumbnailBackground: hsla(0, 0%, 0%, 0.05);
$thumbnailBackgroundHover: hsla(0, 0%, 0%, 0.075);


$grey: hsla(0, 0%, 0%, 0.6);
$lightGrey: hsla(0, 0%, 0%, 0.4);
$veryLightGrey: hsla(0, 0%, 0%, 0.3);
$faintGrey: hsla(0, 0%, 0%, 0.15);
$actionColour: #F5A623;